<%# is necessary to pass data of blogTitle to the HEAD and Header #%>
<div class="footer">
    <div class="copyright">André Usui's ©Copyright <%= new Date().getFullYear() %></div>
    <div class="footerCenter">This band changed my life</div>
    <div class="medias">
        <ul>
            <li><a href="www.instagram.com">Instagram</a></li>
            <li><a href="www.linkedin.com">Linkedin</a></li>
            <li><a href="www.github.com">GitHub</a></li>
        </ul>
    </div>
</div>