
    <form action="/submitPost" method="post">
        <label for="postTitle">Insert the Music title bellow:</label><br><br>
        <textarea name="postTitle" class="postTitle" maxlength=45 required></textarea>
        <br><br>
        <label for="postAlbum">Insert the Music Album bellow:</label><br><br>
        <textarea name="postAlbum" class="postTitle" maxlength=45 required></textarea>
        <br><br>
        <label for="postText">Insert your memories bellow:</label>
        <br><br>
        <textarea name="postText" class="postText" maxlength=231 required></textarea><br><br>
        <input type="submit" class="blogTitleBtn" value="Submit">
    </form>


